{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"  href="   {% static 'style.css' %}" >
    <title> {{title}} </title>
</head>
<body>
        <h1> {{title}}  </h1>
        <h2>{{message}}</h2>
        {% if display %}
        <form>
            <input type="search" id="mySearch" name="number" placeholder="Поиск заказа" size="30" />
            <button>Поиск</button>
            </form>

        {% endif %}
        <p><a href="/main"> На главную</a></p>
</body>
</html>